.header {
    background: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);

    & span {
      padding-left: 20px;
      font-size: 20px;

      &.logo {
        text-align: center;
        font-size: 50px;
        font-weight: bolder;
        padding-right: 40px;
      }
    }

    .sombra-menu-bars {
      display: none;
      width: 100vw;
      height: 100vh;
      z-index: 99;
    }

    &:has(.menu-bars:checked) {
      .menu-responsive {
        left: 0;
      }

      .sombra-menu-bars {
        display: block;
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(5px);
        position: fixed;
        top: 0;
        left: 0;
      }
    }

    @media (max-width: 950px) {
      .menu-responsive {
        left: -100%;
        transition: all 0.5s;
      }
    }