<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('EJS/links&metas') %>
  </head>
  <body>
    <div class="App"></div>

    <script type="text/babel">
      addLink("/404.css");

      function SeccionFlexCentrada({ children }) {
        return <div className="SeccionFlexCentrada alto100vh">{children}</div>;
      }

      ReactDOM.createRoot(document.querySelector(".App")).render(
        <React.Fragment>
          <Header />
          <SeccionFlexCentrada>404 Error :(</SeccionFlexCentrada>
          <Footer />
        </React.Fragment>
      );
    </script>
  </body>
</html>
