<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('_frags/links&metas') %>
    <script defer type="text/babel" src="/404.jsx"></script>
    <link rel="stylesheet" href="/404.css">
  </head>
  <body>
    <%- include(info_pagina.subir_a_raiz + '_frags/header') %>

    <div class="App"></div>

    <%- include(info_pagina.subir_a_raiz + '_frags/footer') %>
  </body>
</html>
