<!DOCTYPE html>
<html lang="es">
<head>
    <%- include(info_pagina.subir_a_raiz + '_frags/links&metas') %>
    <link rel="stylesheet" href="/css/productos.css">
</head>
<body>
    <%- include(info_pagina.subir_a_raiz + '_frags/header') %>

    <div style="text-align: center;" class="contenedor-principal">
        <%- include(info_pagina.subir_a_raiz + '_frags/todos-los-productos.ejs') %>
    </div>

    <%- include(info_pagina.subir_a_raiz + '_frags/footer') %>
</body>
</html>