<!DOCTYPE html>
<html lang="es">
<head>
    <%- include(info_pagina.subir_a_raiz + 'EJS/links&metas') %>
    <link rel="stylesheet" href="/producto/css/productos.css">

    <script type="text/babel" src="/index.jsx" defer></script>
    <script type="text/babel" src="/producto/todos-los-productos.jsx" defer></script>
</head>
<body>
    <div class="App">
    </div>

</body>
</html>