<!DOCTYPE html>
<html lang="es">
<head>
    <%- include(info_pagina.subir_a_raiz + '_frags/links&metas') %>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <%- include(info_pagina.subir_a_raiz + '_frags/header') %>

    <div style="text-align: center;" id="contenedor-catalogo">
    </div>

    <%- include(info_pagina.subir_a_raiz + '_frags/footer') %>

</body>
</html>