<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include(info_pagina.subir_a_raiz + '_frags/links&metas') %>
    <link rel="stylesheet" href="/css/productos.css" />
  </head>
  <body>
    <%- include(info_pagina.subir_a_raiz + '_frags/header') %>

    <div style="text-align: center" class="contenedor-principal">
      <div class="contenedor presentador-un-producto" style="display: flex;justify-content: space-evenly;">
        <div class="presentador-imagenes">
          <img
            class="img-principal"
            src="https://img.freepik.com/vector-premium/imagen-dibujos-animados-hongo-palabra-hongo_587001-200.jpg?w=2000"
          />
          <div class="Imagenes"></div>
        </div>
        <div style="display: inline-block;vertical-align: top;min-width: 300px;text-align: left;">
          <div>
            <h1 class="Titulo">Titulo producto</h1>
            <h2>Precio: <span class="Precio">$123.456</span></h2>
          </div>
          <br>
          <br>
          <div class="Descripcion">Descripción</div>
          <br>
          <br>
          <div class="btn dodgerblue">
            Agregar al carrito <i class="fa-solid fa-cart-shopping"></i>
          </div>
          <div class="btn limegreen">
            Enviar a Whatsapp <i class="fa-brands fa-whatsapp"></i>
          </div>
        </div>
      </div>
    </div>

    <%- include(info_pagina.subir_a_raiz + '_frags/footer') %>

    <script>
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      if (!urlParams.has("_id")) {
        location.href = "/";
      }
      urlParams.get("_id");

      socket.emit("Productos: Cargar uno", urlParams.get("_id"));

      socket.on("Productos: Cargar uno", (producto) => {
        let contenedorPrincipal = document.querySelector(
          ".contenedor-principal"
        );

        contenedorPrincipal.querySelector(".Titulo").innerHTML =
          producto.titulo;
        contenedorPrincipal.querySelector(
          ".Precio"
        ).innerHTML = `$${producto.precio}`;
        let img_principal = contenedorPrincipal.querySelector(".img-principal");
        img_principal.src = producto.imagenes[0].thumb.url;
        img_principal.onload = () => {
          img_principal.src = producto.imagenes[0].image.url;
          img_principal.onload = undefined;
        };
        let imagenes = contenedorPrincipal.querySelector(".Imagenes");
        let html = "";
        producto.imagenes.forEach((imagen, index) => {
          html += `
                <img 
                    src="${imagen.thumb.url}" class="thumb ${
            index == 0 ? "thumb-activo" : ""
          }" 
            onmouseover="
                cambiarImagen('${imagen.image.url}', this);
            "
            onclick="
                cambiarImagen('${imagen.image.url}', this);
            ">`;
        });
        imagenes.innerHTML = html;
        contenedorPrincipal.querySelector(".Descripcion").innerHTML =
          producto.desc;
      });

      function cambiarImagen(url, img_thumb) {
        document.querySelector(".contenedor-principal .img-principal").src =
          url;
        document
          .querySelectorAll(".contenedor-principal .Imagenes .thumb")
          .forEach((thumb) => {
            thumb.classList.remove("thumb-activo");
          });
        img_thumb.classList.add("thumb-activo");
      }
    </script>
  </body>
</html>
