<!DOCTYPE html>
<html lang="es">
<head>
    <%- include(info_pagina.subir_a_raiz + '_frags/links&metas') %>
    <link rel="stylesheet" href="/css/productos.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.5.1/jscolor.min.js"></script>
</head>
<body>
    <%- include(info_pagina.subir_a_raiz + '_frags/header') %>

    <div class="contenedor-principal">

        <form action="/upload-imgs" method="post" enctype="multipart/form-data">
            <input type="file" name="A" id="A" data-abc="123" multiple accept="image/*"/>
            <button type="submit">Upload</button>
        </form>

        <div class="contenedor">
            <input data-jscolor="">
            <label for="A" class="label-agregar-fotos">
                <i class="fa-solid fa-camera"></i>
            </label>
        </div>

    </div>

    <%- include(info_pagina.subir_a_raiz + '_frags/footer') %>
</body>
</html>