<!DOCTYPE html>
<html lang="es">
<head>
    <%- include(info_pagina.subir_a_raiz + '_frags/links&metas') %>
</head>
<body>
    <%- include(info_pagina.subir_a_raiz + '_frags/header') %>

    <div style="text-align: center;" class="contenedor-principal">
    </div>

    <%- include(info_pagina.subir_a_raiz + '_frags/footer') %>
</body>
</html>