html, body, h1, h2, h3, h4, h5{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    background-image: url(/svg/army.svg);
    background-color: darkkhaki;
    background-size: cover;
    font-family: Roboto;
}

textarea{
    font-family: Roboto;
    font-size: 120%;
}

.menu-responsive{
    display: flex;
}

.boton-header{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    font-size: 120%;
    white-space: nowrap;
}

.boton-header:hover{
    opacity: 0.5;
    cursor: pointer;
}

.dodgerblue{
    background-color: dodgerblue;
    color: white;
}

.limegreen{
    background-color: limegreen;
    color: white;
}

.tomato{
    background-color: tomato;
    color: white;
}

.btn{
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}

.btn:hover{
    filter: brightness(1.3);
}

.contenedor-principal{
    padding: 30px 10px;
    min-height: 100vh;
}

.contenedor{
    border: 1px solid lightgray;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: -10px 10px 10px 0px rgba(0, 0, 0, 0.1);
}