<div style="background: black;color: white;height: 100px;padding: 10px;position: relative;">
    <div style="position: absolute;right: 10px;bottom: 10px;">
        Envio gratis a Tuluá y Buga (Valle del Cauca). Envios a todo el país.
    </div>
</div>