<link rel="stylesheet" href="/_frags/header.css" />
<script type="text/babel" src="/_frags/header.jsx"></script>

<div class="r-header">
</div>

<script>
  window.addEventListener("resize", () => {
    document.querySelector(".menu-bars").checked = false;
  });

  window.addEventListener("keydown", (e) => {
    if (e.key == "Escape") {
      document.querySelector(".menu-bars").checked = false;
    }
  });
</script>
