<div class="productos-cargados"></div>

<div class="plantilla-producto" style="display: none">
  <a>
    <img />
  </a>
  <div class="info">
    <div class="precio">$123.456</div>
    <div class="titulo">Titulo de prueba</div>
  </div>
</div>

<script>
  socket.emit("Productos: Cargar todos");
  let ordenamiento = "<%- ordenamiento %>";
  let inicio = <%- inicio %>;
  let fin = <%- fin %>;

  socket.on("Productos: Cargar todos", (productos) => {
    let productosCargados = document.querySelector(".productos-cargados");
    productosCargados.innerHTML = "";
    if (ordenamiento) {
      switch (ordenamiento) {
        case "alfabetico":
          productos.sort((a, b) => {
            let ta = a.titulo.toLowerCase();
            let tb = b.titulo.toLowerCase();
            if (ta < tb) {
              return -1;
            }
            if (ta > tb) {
              return 1;
            }
            return 0;
          });
          break;
        case "aleatorio":
          productos.sort(() => Math.random() - 0.5);
          break;
      }
    }
    productos.forEach((producto, index) => {
      if (inicio > 0) {
        if (index < inicio) {
          return;
        }
      }
      if (fin > 0) {
        if (index > fin) {
          return;
        }
      }
      let plantillaProducto = document.querySelector(".plantilla-producto");
      let productoCargado = plantillaProducto.cloneNode(true);
      productoCargado.style.display = "inline-block";
      productoCargado.querySelector("a").href = `/producto-id?_id=${producto._id}`;
      productoCargado.querySelector("img").src = producto.imagenes[0].thumb.url;
      productoCargado.querySelector(
        ".precio"
      ).innerHTML = `$${producto.precio}`;
      productoCargado.querySelector(".titulo").innerHTML = producto.titulo;
      productosCargados.appendChild(productoCargado);
    });
  });
</script>