<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<meta property="og:site_name" content="Army" />
<meta property="og:title" content="Army" />
<meta property="og:description" content="Army" />
<meta property="og:image" content="https://i.ibb.co/zNJbjx1/army.png" />
<link rel="icon" type="image/png" href="https://i.ibb.co/zNJbjx1/army.png" />

<!-- React -->
<script
  crossorigin
  src="https://unpkg.com/react@18/umd/react.development.js"
></script>
<script
  crossorigin
  src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"
></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

<!-- Material UI -->
<script src="https://unpkg.com/@mui/material@latest/umd/material-ui.production.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap"
/>

<script type="text/babel" src="JSX/main.jsx"></script>

<title>ARMY</title>

<link rel="stylesheet" href="/css/fuentes.css" />
<link rel="stylesheet" href="/css/swal.css" />
<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="/css/abrevs.css" />
<link rel="stylesheet" href="/css/auxiliar.css" />

<!-- Links importados -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>

<!-- Scripts importados -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.5.2/dist/sweetalert2.all.min.js"></script>

<!-- Comunicación directa con el servidor -->
<script src="/socket.io/socket.io.js"></script>

<!-- Iniciar sesión en cualquier página -->
<script src="/js/iniciar-sesion.js"></script>
<script src="/js/prototypes.js"></script>

<!-- Responsive -->
<script src="/js/adaptativo/ifw.js"></script>
<script src="/js/adaptativo/lerpw.js"></script>
<script src="/js/adaptativo/switchw.js"></script>
<script defer src="/js/adaptativo/main.js"></script>

<script src="/js/main.js"></script>

<script type="text/babel" src="/JSX/header.jsx"></script>
<script type="text/babel" src="/JSX/footer.jsx"></script>

<script>
  let socket = io();
  let user = <%- JSON.stringify(user) ?? "undefined" %>;

  Object.assign(window, window['MaterialUI'])
</script>
