<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include(info_pagina.subir_a_raiz + 'EJS/links&metas') %>
    <script type="text/babel" src="/producto/productos.jsx"></script>
    <script type="text/babel" src="/producto/todos-los-productos.jsx" defer></script>
  </head>
  <body>
    <div class="App">
    </div>
  </body>
</html>
