<script src="/producto/todos-los-productos.js"></script>
<script defer type="text/babel" src="/producto/todos-los-productos.jsx"></script>

<div class="r-todos-los-productos">
</div>

<script>
  let ordenamiento = "<%- ordenamiento %>";
  let inicio = <%- inicio %>;
  let fin = <%- fin %>;
</script>